* {
  margin: 0;
  padding: 0;
}
.mane-box {
  border: 1px solid black;
  border-style: none;
  width: 396pxpx;
  margin: 40px 0 0;
  background-color: #f0f2f5;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 500px;
}
.side-part {
  border: 1px solid #0000ff;
  border-style: none;
  box-shadow: 6px 6px 8px black;
  margin-left: 40%;
  border-radius: 9px;
  margin: 20%;
  margin-top: 5%;
  margin-bottom:9%;
  height: 350px;
  background-color: #FFFFFF;
  box-sizing: border-box;
  display: block;

}
.phone-number {
  height: 21px;
  width: 330px;
  padding: 14px 16px 14px 16px;
  border: 1px solid #dddfe2;
  display: inline-block;
  align-items: end;
}
.password {
  height: 21px;
  width: 330px;
  justify-content: end;
  border: 1px solid #dddfe2;
  padding: 14px 16px 14px 16px;
  display: block;
}
.logi {
  display: grid;
  justify-content: center;
  gap: 5%;
  margin: 5%;
}
button {
  height: 47.9861px;
  padding: 0 16px 0 16px;
  position: relative;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  display: inline-block;
  background-color: #0966ff;
  text-align: center;
  font-weight: 700;
  line-height: 48px;
  font-size: 20px;
  color: #ffffff;
  border-radius: 10px;
  border-style: none;
}
.pp {
  text-align: center;
  display: inline;
  margin: 2%;
}
.Create {
  align-items: center;
  background-color:#42B72A;
  height: 45px;
  width: 55%;
  display: flex;
  justify-content: center;
  margin-left: 25%;
  margin-top: 10%;
  border-radius: 10px;
}
.new{
  font-size: 20px;
  color:#FFFFF2;
}

.last-part{
margin: auto;
margin-top: 30%;
margin-right: 50%;
margin-bottom: auto;
display: flex;
}
.left-heading{
    border: 1px solid black;
    border-style: none;
    height: 450px;
    display: flex;
}
.side-menu{
  margin: 4%;
  display: grid;
  margin-top: 10%;
  margin-bottom: 16%;
  gap: 1%;
  align-items: center;
  text-align: center;
}

h1{
  font-size: 50px;
  display: inline-block;
  color: #0966ff;
}
h2{
  font-size: 30px;
}
p{
  font-size: 14px;
  color:#9c9494;

}
.page{
  align-items: center;
  text-align: center;
  margin-top: 19%;
  color: black;
}
hr{
  width: 80%;
  text-align: center;
  margin-left: 8%;
}