.conteral {
  border: 1px solid black;
  height: 850px;
  background-color:#F8F2F0;
  border-color: #3ea1da;
}
.Name {
  height: 35px;
  width: 35%;
}
.Date {
  height: 35px;
  width: 71%;
}
.email {
  height: 35px;
  width: 71%;
}
.height {
  height: 35px;
  width: 71%;
}
.text {
  height: 95px;
  width: 71%;
}
.duty-menu {
background-color: #C5DED8;
  border: 1px solid black;
  font-size: 16px;
  text-align: center;
  border-color: #3ea1da;
  height: 50px;
  width: 30%;
}
.exam {
  width: 60%;
  height: 40px;
  display: flex;

  gap: 20px;
}
h1{
  align-items: center;
  text-align: center;

}
p{
 font-size: 20px;
}
input{
background-color: #C5DED8;
border-color: #3ea1da;
}
