<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>form</title>
  </head>
  <style>
    * {
      margin: 10px;
      padding: 0;
      box-sizing: border-box;
    }
    body {
      background-color: aquamarine;
    }
    h1 {
      text-align: center;
      color: blueviolet;
    }
    input {
      height: 30px;
      width: 30%;
    }
    p {
      font-size: 19px;

      display: flex;
    }
  </style>
  <body>
    <div>
      <h1>Seafare's Medical Examination Form</h1>
      <form>
        <p>Application Full Name:</p>
        <input type="Fist" id="Fist" placeholder="first" />
        <input type="Last" id="Last" placeholder="Last" />
        <label>
          <p>Date Of Birth</p>
          <input type="Date" id="number" placeholder="Date of birth" />
        </label>
        <p>Email</p>
        <input type="email" id="email" placeholder="email" />
        <p>Examination for duty as:</p>
      </form>
    </div>
  </body>
</html>
