<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>First project</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <!--fist part of head-->
    <nav class="nav-bar">
      <div class="image-bar">
        <img
          src="https://nilaw2017.github.io/Portfolio/PROJECTS/Ecommerce/img/logo.png"
          alt="LoGo"
        />
      </div>
      <div class="item-bar">
        <ul class="ullist">
          <li class="heading">
            <a href="#" class="href">My Account</a>
          </li>
          <li class="heading">
            <a href="#" class="href">Wishlist</a>
          </li>
          <li class="heading">
            <a href="#" class="href">My Cart</a>
          </li>
          <li class="heading">
            <a href="#" class="href">Checkout</a>
          </li>
          <li class="heading">
            <a href="#" class="href">Login</a>
          </li>
        </ul>

        <div class="shopping-menu">
          <input
            class="here"
            type="search box"
            id="search hrer"
            name="Search here"
            placeholder="search here"
          />
          <i class="tag-place"><i class="fa-solid fa-magnifying-glass"></i></i>
          <div class="shopping">
            <i class="card"><i class="fa-solid fa-cart-shopping"></i></i>
            <div class="number-bar">
              <h4>Total</h4>
              <p>$600</p>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!--upp code is fist nav bar code-->

    <!--down code is second nav-->
    <nav>
      <div class="top-nav">
        <div class="head-nav">
          <div class="ico-bar">
            <li><i class="fa-solid fa-bars"></i></li>
          </div>
          <div class="nav-bar4">
            <h3>CATAGORIES</h3>
          </div>
          <div class="nav-bar5">
            <ul class="ulleist">
              <li class="linebar">
                <a href="#">CLOTHING</a>
              </li>
              <li class="linebar">
                <a href="#">ELECTRONIC HOT</a>
              </li>
              <li class="linebar">
                <a href="#">HEALTH&BEAUTY</a>
              </li>
              <li class="linebar">
                <a href="#">WATERCHES</a>
              </li>
              <li class="linebar">
                <a href="#">JEWELLRY</a>
              </li>
              <li>
                <a href="#">SHOES</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <div style="display: flex">
      <!--Below code is 
                  side part of body-->
      <div class="div">
        <div class="borde">
          <div class="list-bar">
            <ul>
              <li>
                <a href="#">Clothng</a>
              </li>
              <li>
                <a href="#">Electronic</a>
              </li>
              <li>
                <a href="#">Shoes</a>
              </li>
              <li>
                <a href="#">Jewellery</a>
              </li>
              <li>
                <a href="#">Health and Beauty</a>
              </li>
              <li>
                <a href="#">Kids and Babise</a>
              </li>
              <li>
                <a href="#">Sport</a>
              </li>
              <li>
                <a href="#">Home and Garden</a>
              </li>
            </ul>
          </div>
        </div>

        <!--image part of side body-->
        <div class="goldstar">
          <h3>HOT DEALS</h3>
          <img
            src="https://nilaw2017.github.io/Portfolio/PROJECTS/Ecommerce/img/goldstar1.png"
            alt="shoes"
            style="
              height: 150px;
              width: 150px;
              margin-left: auto;
              margin-right: auto;
              display: block;
              box-shadow: 6px 6px 7px black;
            "
          />
          <p>
            goldstar
            <br />
            pluse
          </p>
          <div class="rupess">$190.80</div>
          <p>$900.00</p>
          <div class="stare">
            <li class="star"><i class="fa-regular fa-star"></i></li>
            <li class="star"><i class="fa-regular fa-star"></i></li>
            <li class="star"><i class="fa-regular fa-star"></i></li>
            <li class="star"><i class="fa-regular fa-star"></i></li>
          </div>
        </div>

        <!-- second part of image part of side body-->
        <div class="goldstar">
          <h3>SPECIAL DEALS</h3>
          <img
            src="https://nilaw2017.github.io/Portfolio/PROJECTS/Ecommerce/img/bag1.png"
            alt="Bag"
            style="
              height: 150px;
              width: 150px;
              margin-left: auto;
              margin-right: auto;
              display: block;
              box-shadow: 6px 6px 7px black;
            "
          />
          <p>
            goldstar
            <br />
            Ipluse
          </p>
          <div class="rupess">$190.80</div>
          <p>$900.00</p>
          <div class="stare">
            <li class="star"><i class="fa-regular fa-star"></i></li>
            <li class="star"><i class="fa-regular fa-star"></i></li>
            <li class="star"><i class="fa-regular fa-star"></i></li>
            <li class="star"><i class="fa-regular fa-star"></i></li>
          </div>
        </div>

        <div class="sing">
          <h2>NEWSLETTES</h2>
          <p>
            Sing Up for Our
            <br />
            Newsletter
          </p>
          <input type="button" id="button" />
          <button>SUBSCRIBE</button>
        </div>
        <div class="photo">
          <img
            src="https://nilaw2017.github.io/Portfolio/PROJECTS/Ecommerce/img/spray.png"
            alt="Bag"
            style="height: 100%"
          />
        </div>
      </div>

      <!--side body part-->
      <div class="background">
        <img
          src="https://nilaw2017.github.io/Portfolio/PROJECTS/Ecommerce/img/awesomegirl.png"
          alt="girl pic"
          width="100%"
          height="90%"
        />
        <div class="girl">
          <h1>
            COLLECTION 2016
            <p class="text-big">SAVE 40% FOR</p>
            <p class="black">FIRDT PURCHASE</p>
            <button id="shop-now">SHOP NOW</button>
          </h1>
          <div class="fotter-side">
            <div>
              <h1>MONEY BACK</h1>
              <P>30Days Money Back Guarantee</P>
            </div>
            <div>
              <h1>FREE SHIPPING</h1>
              <P>Shipping On orders Over $499</P>
            </div>
            <div>
              <h1>SPECIAL SALE</h1>
              <P>Extra $5 off on All items</P>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
