* {
  margin: 0;
  padding: o;
  box-sizing: border-box;
}
.nav-bar {
  width: 100;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #222222;
  color: #fff;
}
.image-bar {
  border: 1px solid blue;
  border: none;
}
.item-bar {
  justify-content: space-around;
  width: 85%;
  align-items: end;
  justify-content: space-evenly;
}
.box4 {
  border: 1px solid rgb(11, 187, 20);
  border-style: none;
  display: flex;
  margin: auto;
}
.shopping-menu {
  border: 1px solid red;
  border-style: none;
  display: flex;
  justify-content: flex-end;
  text-align: center;
}
.here {
  width: 250px;
  margin-top: 0%;
  height: 35px;
  border-radius: 20px;
}
.tag-place {
  border-radius: 6%;
  margin-top: 0%px;
  height: 30px;
  margin-right: 10px;
  padding: 10px;
  text-align: center;
  color: #fff;
  background-color: #f10e34;
}
.shopping {
  display: flex;
}
.card {
  margin-top: 0%;
  border-radius: 50%;
  margin-bottom: 55px;
  margin-left: 30px;
  padding: 10px;
  height: 35px;
  text-align: center;
  background-color: #f10e34;
  color: #fff;
}
.number-bar {
  margin-top: 0%;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #222222;
}
.href {
  color: #f3f3f3;
  margin-top: 0;
  margin-left: 0px;
}
.heading {
  position: relative;
}
.heading::after {
  content: "";
  position: absolute;
  width: 1px;
  background-color: #fff;
  right: -6px;
  top: 7px;
  height: 20px;
}

/*Down css is second nav*/
.top-nav {
  border: 1px solid blue;
  list-style: none;

}
.head-nav {
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #f10e34;
}
.ico-bar {
  border: 1px solid red;
  border-style: none;
  margin: 10px;
  width: 30px;
  margin: 3%;
  margin-right: 0%;
  text-align: center;
  color: #fff;
}
.nav-bar4 {
  border: 1px solid rgb(32, 9, 161);
  border-style: none;
  color: #fff;
}
h3 {
  margin-top: 35px;
}

.nav-bar5 {
  border: 1px solid blueviolet;
  border-style: none;
  display: flex;
  align-items: center;
  margin: auto;
  padding: 1px;
  font-size: 19px;
}
.ullist {
  border: 1px solid wheat;
  border-style: none;
  justify-content: right;
  align-items: center;
  display: flex;
  gap: 20px;
  font-size: 18px;
  list-style: none;
  margin: auto;
}
a {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  text-align:end;
  color:rgb(39, 37, 190);
}
.linebar {
  position: relative;
}
.linebar::before {
  content: "";
  position: absolute;
  width: 1px;
  background-color: #fff;
  right: -2px;
  top: 20px;
  height: 20px;
}

/* donw css side body*/
.div{
  border: 1px solid blue;
  justify-content: space-around;
}
.list-bar {
  display: grid;
  margin-top: 20px;
  box-shadow: 5px 4px 6px black;
}
.list-bar {
  position: relative;
}
.list-bar::after {
  content: "";
  content: "";
  position: absolute;
  top: 45px;
  left: 20px;
  width: 300px;
  height: 2px;
  background-color: #817476;
}
ul {
  list-style: none;
  line-height: 2;
  align-items: center;
  text-align: justify;
}
a {
  text-decoration: none;
  margin: 15px;
}
.borde {
  border: 1px solid black;
  border-style: none;
  border-style: none;
  font-size: 17px;
}

.goldstar {
  border: 1px solid black;
  border-style: none;
  background-color: #ffffff;
  justify-content: space-around;
  box-shadow: 6px 0px 6px black;
}
h3 {
  text-align: center;
  text-decoration-line: underline;

  height: 50px;
  font-size: 20px;
}
p {
  text-align: center;
}
.rupess {
  text-align: center;
  text-decoration: line-through;
  color: #b69191;
}
.star {
  display: flex;
  text-align: center;
  color: blue;
}
.stare {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*sing page*/
.sing {
  border: 1px solid black;
  margin: 5%;
  height: 250px;
  box-shadow: 5px 5px 6px black;
}
input {
  width: 70%;
  margin: 2%;
  margin-left: 16%;
  margin-top: 10%;
  height: 40px;
  display: flex;
}
button {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 10px;
  height: 30px;
  width: 100px;
  background-color: #f22f49;
  color: #fff;
  border-radius: 10px;
  border-style: none;
}
p {
  font-size: 20px;
  margin: 10px;
}
h2 {
  text-align: center;
  margin-top: 10%;
  text-decoration: underline;
}
.photo {
  border: 1px solid black;
  border-style: none;
  width: 25%;
  margin: 9px;
}
.ulleist {
  display: flex;
  gap: none;
  font-size: 18px;
  list-style: none;
}

/*side body part*/
.background {
  border: 1px solid black;
  height: 620px;
}
.girl{
  border:1px solid black;
  border-style: none;
  width: 50%;
  display: grid;
  position: absolute;
  top: 45%;

} 
h1{
  margin: 12%;
  font-size: 30px;
  font-weight: 700;
  display: block;
  color:#303A7A;
}
p{
text-align: left;
}
.text-big{
  font-size: 50px;
  font-family: lato,sans-serif;
  display: block;
color:#FFFFFF ;
}
.black{
  color: #222222;
  display:block;
}
#shop-now{
  color: #222222;
  border: 1px solid black;
  border-radius: 8%;
  background-color:#FFC86C;
}
.fotter-side{
  border: 1px solid red;
  display: flex; 
  justify-content: space-around;

}
