* {
  margin: 0;
  padding: o;
  box-sizing: border-box;
}
.nav-bar {
  border: 1px solid black;
  border-style: none;
  width: 100;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #222222;
  color: #fff;
}
.image-bar {
  border: 1px solid blue;
  border: none;
}
.item-bar {
  border: 1px solid red;
  border: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box4 {
  border: 1px solid black;
  border: none;
  display: flex;
  margin: auto;
}
.shopping-menu {
  border: 1px solid green;
  border: none;
  display: flex;
  justify-content: center;
  text-align: center;
}
.here {
  max-width: 100%;
  width: 90%;
  margin-top: 60px;
  height: 35px;
  border-radius: 20px;
}
.tag-place {
  border-radius: 6%;
  margin-top: 60px;
  margin-bottom: 10px;
  height: 30px;
  margin-right: 10px;
  padding: 10px;
  text-align: center;
  color: #fff;
  background-color: #f10e34;
}
.shopping {
  display: flex;
}
.card {
  margin-top: 60px;
  border-radius: 50%;
  margin-bottom: 55px;
  margin-left: 30px;
  padding: 10px;
  height: 35px;
  text-align: center;
  background-color: #f10e34;
  color: #fff;
}
.number-bar {
  margin-top: 60px;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}
.heading {
  position: relative;
}
.heading::after {
  content: "";
  position: absolute;
  width: 1px;
  background-color: #fff;
  right: -6px;
  top: 15px;
  height: 20px;
}

/*Down css is second nav*/
.top-nav {
  border: 1px solid blue;
  border: none;
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.head-nav {
  border: 1px solid black;
  border-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #f10e34;
}
.ico-bar {
  border: 1px solid red;
  border-style: none;
  margin: 40px;
  width: 30px;
  align-items: end;
  text-align: center;
  color: #fff;
}
.nav-bar4 {
  border: 1px solid rgb(32, 9, 161);
  border-style: none;
  color: #fff;
}
h3 {
  margin-top: 35px;
}

.nav-bar5 {
  border: 1px solid blueviolet;
  border-style: none;
  display: flex;
  align-items: center;
  margin: auto;
  padding: 1px;
  font-size: 15px;
}
.ullist {
  justify-content: right;
  align-items: center;
  display: flex;
  gap: 35px;
  font-size: 18px;
  list-style: none;
  margin: auto;
}
a {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  margin-left: 0px;
  text-align: justify;
}
.linebar {
  position: relative;
}
.linebar::before {
  content: "";
  position: absolute;
  width: 1px;
  background-color: #fff;
  right: -9px;
  top: 10px;
  height: 25px;
}

/* donw css side body*/
.list-bar {
  border-style: none;
  width: 99.5%;
  display: grid;
  margin-top: 20px;
  background-color: white;
  box-shadow: 5px 4px 6px black;
}
.list-bar{
  position: relative;
}
.list-bar::after{
  content: "";
  content: "";
  position: absolute;
  top: 45px;
  left: 20px;
  width: 300px;
  height: 3px;
  background-color: #817476;

}
ul {
  list-style: none;
  line-height: 2;
  align-items: center;
  text-align: justify;
}
a {
  text-decoration: none;
  margin: 15px;
}
.borde {
  background-color: #f3f3f3;
  border: 1px solid black;
  border-style: none;
  width: 25%;
}

.goldstar {
  border: 1px solid black;
  border-style: none;
  width: 25%;
  height: 350px;
  background-color: #ffffff;
  justify-content: space-around;
  box-shadow: 5px 5px 6px;
}
h3 {
  text-align: center;
  text-decoration-line: underline;
  width: 90%;
  height: 40px;
  font-size: 20px;
}
p {
  text-align: center;
}
.rupess {
  text-align: center;
  text-decoration: line-through;
  color: #b69191;
}
.star {
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: blue;
}
.stare{
  display: flex;
  align-items: center;
  justify-content: center;
}
/*sing page*/
.sing{
  border: 1px solid black;
  width: 25%;
  margin: 9px;
  height: 300px;
  box-shadow: 5px 5px 6px bisque;
}
input{
  width: 60%;
  margin: 20px;
  height: 40px;
  display: flex;
}
button{
  display: flex;
  align-items: center;
  text-align: center;
  margin: 10px;
  height: 30px;
  width: 100px;
  background-color: #F22F49;
  color: #fff;
  border-radius: 10px;
  border-style: none;
}
p{
  font-size: 20px;
  margin: 10px;
}
h2{
  text-align: center;
  text-decoration: underline;
}
.photo{
   border: 1px solid black;
   border-style: none;
   width: 25%;
   margin: 9px;
}

/*side body part*/
.background{
  border: 1px solid black;
  background-image: url(https://nilaw2017.github.io/Portfolio/PROJECTS/Ecommerce/img/awesomegirl.png); 
}